.container {
  border-radius: 5px;
}

.btn-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  margin: 2em;
}

.die-container {
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}
  
.dice {
  border: 1px solid black;
  border-radius: 5%;
  height: 5rem;
  width: 5rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: black;
  cursor: pointer;
}
